<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>건강마스터! - 암호찾기</title>

  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script>

    function chkPwd(str){
          var reg_pwd = /^.*(?=.{6,20})(?=.*[0-9])(?=.*[a-zA-Z]).*$/;
          if(!reg_pwd.test(str)){
            //틀리면
            return true;
          }
          //암호가 맞으면
          return false;
        }

    function verifyEmail (email) {
      // 이메일 검증 스크립트 작성
      var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
      // 검증에 사용할 정규식 변수 regExp에 저장
      if (email.match(regExp) != null) {
        //맞으면
        return false;
      }
      else {
        //이메일이 틀리면
        return true
      }
    }

        //실행 부분
        function onclick(){
          var flag = true;

          var form = document.getElementById('forgotForm');

          var email = document.getElementById('inputEmail').value;
          var name = document.getElementById('inputName').value;

          if(verifyEmail(email)){

            $('#modalText').text('이메일을 제대로 입력해 주세요.');
              $('.modal').modal('show');
                flag = false;
              return;
          }

          var pattern = /^[가-힣]{2,4}|[a-zA-Z]{2,10}\s[a-zA-Z]{2,10}$/;
          if(!pattern.test(name)){
            $('#modalText').text('이름을 제대로 입력해 주세요.');
              $('.modal').modal('show');
            flag = false;
              return;
          }



          //마지막 flag체크후 보내기
          if(flag){
            form.submit();
          }

        }

    </script>
</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>암호를 잊으셨나요?</h4>
          <p>이메일과 이름을 입력하시면, 이메일로 암호를 보내드립니다.</p>
        </div>
        <form action="/forgotPassword" id="forgotForm" method="post">


          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              <label for="inputEmail">Enter email address</label>
            </div>
            <div class="form-group">
              <input type="text" id="inputName" name="name" class="form-control" placeholder="Enter name" required="required" autofocus="autofocus">
              <label for="firstName">이름을 입력해 주세요</label>
            </div>
          </div>
          <a class="btn btn-primary btn-block" href="JavaScript:onclick()">이메일로 암호 보내기</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="../register">Register an Account</a>
          <a class="d-block small" href="../login">Login Page</a>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">에러</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="modalText">암호가 틀리거나 아이디가 없습니다.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <% if(locals.result == 'error'){ %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#modalText').text('이메일이 존재하지 않습니다.');
      $('.modal').modal('show');
    });
  </script>
  <%}%>
</body>

</html>
