<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>건강마스터! - 계정삭제</title>

  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <script>

    function chkPwd(str){
            var reg_pwd = /^.*(?=.{6,20})(?=.*[0-9])(?=.*[a-zA-Z]).*$/;
            if(!reg_pwd.test(str)){
              //틀리면
              return true;
            }
            //암호가 맞으면
            return false;
          }


          //실행 부분
          function onclick(){
            var flag = true;

            var form = document.getElementById('deleteForm');

            var password = document.getElementById('inputPassword').value;
            console.log(password)

            if(chkPwd(password)){
                flag = false;
                $('#replaceText').text('암호를 제대로 입력해주세요.');
                $('.modal').modal('show');
            }

            //마지막 flag체크후 보내기
            if(flag){
              form.submit();
            }

          }

    </script>
</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">계정탈퇴</div>
      <div class="card-body">
        암호를 입력해주세요.
        <form method="post" id="deleteForm" action="/deleteAccount">


          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="required">
              <label for="inputPassword">Password</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <!--
                <label>
                  <input type="checkbox" value="remember-me">
                  로그인 기억하기
                </label>
-->


            </div>
          </div>
          <a class="btn btn-primary btn-block" href="JavaScript:onclick()">Login</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/register">계정생성</a>
          <a class="d-block small" href="/forgotPassword">암호를 잊으셨나요?</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">계정삭제 실패</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="modalText">암호가 틀립니다.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <% if(locals.result == 'fail'){ %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#modalText').text('암호가 맞지 않습니다.');
      $('.modal').modal('show');
    });
  </script>
  <% }%>


</body>

</html>
